*{
  font-family: Arial;
  font-size: 14px;
  font-weight: lighter
}

input{
  width: 100vw;
  border: none;
  height: 30px;
  margin: 0 5px;
}
/* quitamos focus a nuestra barra de busqueda */
input:focus{
  outline:none;
}
/* quitamos la linea de abajo de los links */
a:link{
  text-decoration: none;
}
/* logramos que no se vean como links */
a:visited{
  color: black;
  text-decoration: none;
}
/* logramos que tenga la linea debajo solo cuando pasamos el mouse sobre el elemento */
a:hover{
  text-decoration: underline;
}

/* class */
.container{
  width: 100vw;
  max-width: 625px;
  margin: 12rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barra_busqueda{
  width: 90%;
  padding: 0.5rem 0.8rem ;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0.3px 0.3px 2px rgb(180, 180, 180);;
}

.barra_busqueda:hover{
  box-shadow: 0.3px 0.3px 10px rgb(212, 212, 212);
}

.menu{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menu-item{
  color: #3c4043;
  margin: 20px 10px;
  font-size: 13px;
}

.icon{
  padding: 0px 15px;
  display: grid;
  align-content: center;
  color: grey;
}

.micro{
  cursor: pointer;
}

.opciones_busqueda{
  margin-top: 15px;
  width: 270px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.opciones_busqueda-boton{
  background-color: #f8f9fa;
  color: #3c4043;
  border: 1px solid transparent;
  border-radius: 4px;
  height: 36px;
  white-space: nowrap;
  cursor: pointer;
}

.opciones_busqueda-boton:hover{
  border: 1px solid rgb(212, 212, 212);
}

.img_perfil{
  margin: 12px 15px;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 2rem;
  border: 3px solid transparent;
  cursor: pointer;
}

.img_perfil:hover{
  border: 3px solid rgb(200, 200, 200);
}

.apps{
  margin-top: .4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 60px;
}

.apps:hover{
  background-color: #ecebeb;
}